@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    width: 100%;
}

h1 {
    padding: 10px;
}

label {
    padding: 10px;
}

.placement {
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}